@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body{
    
    font-family:'Shadows Into Light', cursive;
    color:white;
    
    
    }
.nav_presentation{
    font-size: 30px;
    position: fixed;
    //background-color:#112B52;
}

#navbarNav{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
#navbarNav li{
    padding: 10px;
    margin: 10px;
}

.about{
    background-color: #293547;
    
    
}

.about h1{
    font-size: 90px;
    padding: 5px;
  
}
.proyects{
    background-color: black;
}
.proyects h1{
    font-size: 90px;
    padding: 15px;
    
}

#bot{
    width: 600px;
    
}

#box img:hover{
    
    cursor: pointer;
    transform: rotate(-8deg);
}

#box img:active{
    opacity: 0.5;
}

#song img:hover{
    cursor: pointer;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) ;
}
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
#song img:active{
    opacity: 0.5;
}

#book:hover{
    transform: scale(1.2);
    cursor: pointer;
}
#book:active{
    opacity: 0.5;
}
#code:hover{
    transform: skew(-20deg, 10deg);
    cursor: pointer;
}
#code:active{
    opacity: 0.5;
}

.contact{
    background-color: #293547;
}


