@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
body {
  font-family: 'Shadows Into Light', cursive;
  color: white;
}

.nav_presentation {
  font-size: 30px;
  position: fixed;
}

#navbarNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#navbarNav li {
  padding: 10px;
  margin: 10px;
}

.about {
  background-color: #293547;
}

.about h1 {
  font-size: 90px;
  padding: 5px;
}

.proyects {
  background-color: black;
}

.proyects h1 {
  font-size: 90px;
  padding: 15px;
}

#bot {
  width: 600px;
}

#logoico img {
  width: 150px;
}

#song img {
  width: 100px;
}

#box img {
  width: 100px;
}

#book img {
  width: 100px;
}

#code img {
  width: 100px;
}

#box img:hover {
  cursor: pointer;
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
}

#box img:active {
  opacity: 0.5;
}

#song img:hover {
  cursor: pointer;
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97);
          animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97);
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

#song img:active {
  opacity: 0.5;
}

#book:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

#book:active {
  opacity: 0.5;
}

#code:hover {
  -webkit-transform: skew(-20deg, 10deg);
          transform: skew(-20deg, 10deg);
  cursor: pointer;
}

#code:active {
  opacity: 0.5;
}

.contact {
  background-color: #293547;
}

.contact p {
  font-size: 25px;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  .about h1 {
    font-size: 90px;
    padding: 5px;
  }
  #bot {
    width: 100%;
  }
  #logoico img {
    width: 150px;
  }
  #song img {
    width: 100px;
  }
  #box img {
    width: 100px;
  }
  #book img {
    width: 100px;
  }
  #code img {
    width: 100px;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  .about h1 {
    font-size: 50px;
    padding: 5px;
  }
  #bot {
    width: 100%;
  }
  #logoico img {
    width: 110px;
  }
  #song img {
    width: 60px;
  }
  #box img {
    width: 60px;
  }
  #book img {
    width: 60px;
  }
  #code img {
    width: 60px;
  }
  .nav_presentation {
    font-size: 20px;
    position: fixed;
  }
  #navbarNav li {
    padding: 7px;
    margin: 7px;
  }
  #finally h2 {
    font-size: 20px;
  }
  #gitH {
    width: 40px;
  }
  #linkI {
    width: 50px;
  }
  #faB {
    width: 40px;
  }
  #finally h3 {
    font-size: 15px;
  }
  .proyects h1 {
    font-size: 50px;
    padding: 5px;
  }
  #carousel {
    width: 400px;
  }
  .proyects article a, h3 {
    font-size: 15px;
  }
  .contact h1 {
    font-size: 30px;
  }
  .contact p {
    font-size: 20px;
  }
  .contact h2 {
    font-size: 15px;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  .about h1 {
    font-size: 30px;
    padding: 5px;
  }
  #bot {
    width: 100%;
  }
  #logoico img {
    width: 80px;
  }
  #song img {
    width: 40px;
  }
  #box img {
    width: 40px;
  }
  #book img {
    width: 40px;
  }
  #code img {
    width: 40px;
  }
  .nav_presentation {
    font-size: 10px;
    position: fixed;
    margin-left: 0px;
    padding-left: 0px;
  }
  #navbarNav li {
    padding: 4px;
    margin: 4px;
  }
  #finally h2 {
    font-size: 10px;
  }
  #gitH {
    width: 20px;
  }
  #linkI {
    width: 30px;
  }
  #faB {
    width: 20px;
  }
  #finally h3 {
    font-size: 10px;
  }
  .proyects h1 {
    font-size: 30px;
    padding: 5px;
  }
  #carousel {
    width: 300px;
  }
  .proyects article a, h3 {
    font-size: 10px;
  }
  .contact h1 {
    font-size: 20px;
  }
  .contact p {
    font-size: 10px;
  }
  .contact h2 {
    font-size: 8px;
  }
}

@media (max-width: 25.375em) {
  #carousel {
    width: 200px;
  }
  .contact article {
    display: inline-block;
    width: 150px;
  }
}

@media (max-width: 17.75em) {
  #carousel {
    width: 60px;
    margin-left: 40px;
  }
}
/*# sourceMappingURL=App.css.map */